
.flex-container {
  width: 70%;
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  min-height: 25vh;
  padding-left: 270px;
}

.flex-container-main {
  width: 240px;
  min-height: 108px;
  margin: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.flex-container-main:hover{
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
}

.card-container {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-title {
  width: 100%;
  min-height: 36px;
  color: #202124;
  direction: ltr;
  font-family: 'Roboto',arial,sans-serif;
  font-size: 15px;
  font-weight: bold;
  opacity: 0.7;
  box-sizing: border-box;
  font-variant-ligatures: none;
  outline: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 10px 14px 10px 14px;
}

.card-note {
  width: 100%;
  min-height: 36px;
  box-sizing: border-box;
  font-variant-ligatures: none;
  outline: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 10px 14px 10px 14px;
  color: #202124;
  direction: ltr;
  font-family: 'Roboto',arial,sans-serif;
  font-size: 15px;
}

.card-icon-container {
  width: 100%;
  height: 36px;

}

.card-icon{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.dialog-container {
  width: 550px;
  min-height: 123px;
  display: flex;
  flex-direction: column;
}

.dailog-title {
  padding-left: 10px;
}

.dailog-note {
  padding-left: 10px;
}

.item-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.items {
  width: 60%;
  display: flex;
  justify-content: space-between
}

.close-container {
  width: 20%;
}

.close-button {
  border: none;
  outline: none;
  background-color: transparent;
}

.close-button:hover{
  background-color: #51d3f0;
}

div.MuiDialogContent-root:first-child {
   padding-top: 0;
}

.MuiDialogContent-root.dialog-content {
  overflow-y: hidden;
}

div.MuiDialogContent-root{
  overflow-y: hidden;
  padding: 0 0;
  border-radius: 5px;
}

.MuiDialog-paper {
  margin: 32px;
  position: relative;
  overflow-y: unset !important;
}

@media only screen and (max-width: 414px) and (max-height: 823px ) {
  .flex-container{
    padding-left: 10px;
    width: 100%;
  }
  .flex-container-main{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 316px;
  }

  .dialog-container {
    width: 300px;
  }
}


@media only screen and (width: 768px) and (height: 1024px ) {
  .flex-container {
    justify-content: center;
    width: 100%;
    padding-left: 0px;
  }
}

@media only screen and (width: 1024px) and (height: 1366px ) {
  .flex-container {
    justify-content: center;
    padding-left: 155px;
  }
}