.forgot-main-container {
  width: 502px;
  min-height: 530px;
  border: 1px solid #dadce0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-container {
  margin-top: 8%;
  width: 83%;
  min-height: 180px;
  display: flex;
  flex-direction: column;
}

.forgot-header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.forgot-line {
  text-align: center;
  width: 87%;
  color: #202124;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .1px;
  line-height: 1.5;
  padding-bottom: 30px;
}

.button-container {
  width: 83%;
  height: 87px;
  display: flex;
  flex-direction: column;
}

.notification-line{
  padding-top: 7px;
  display:block;
  font-family:roboto, "Noto Sans Myanmar UI", arial, sans-serif;
  font-size:16px;
  height:42.9972px;
  line-height:20.0004px;
  white-space:normal
}

.yes-container{
  padding-top: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.yes-button{
  width: 23%;
  border-radius: 4px;
  border: none;
  background-color: #1a73e8;
  color: white;
  height: 40px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}


@media only screen and (max-width: 414px) and (max-height: 823px ) {
  .forgot-main-container {
    width: 100%;
    border: none;
  }

  .forgot-line {
    width: 100%;
  }

  .button-container {
    padding-top: 10px;
  }

  .yes-container{
    padding-top: 15px;
  }

  .yes-button{
    width: 30%;
  }
}