.title {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  font-family: fantasy;
}

.f,.d {
  color: #0606f8;
}

.u, .oo {
  color: #d10303;
}

.n {
  color: #f0b000;
}

.o {
  color: #038803;
}

