.accordion-main-container {
  display: flex;
  justify-content: center;
  width:100%;
  margin-top: 2%;
}
.accordion-main {
  width: 500px;
}

.title-icon-div1{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.take-note1 {
  width: 80%
}

.iconPin {
  width: 20%;
}

.title-icon-div{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.take-note {
  width: 80%
}

.checkBox{
  width: 10%;
}

.image-upload {
  width: 10%;
}

.details-container{
  display: flex;
  flex-direction: column;
}

.input-container{
  display: flex;
  flex-direction: column;
}

.icon-container {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.icon-button-container {
  display: flex;
  flex-direction: row;
  padding-top: 5%;
}

.close-button-div {
  width: 30%;
  display: flex;
  justify-content: center;
}

.button-close {
  border: none;
  outline: none;
  background-color: white;
}

.button-close:hover{
  background-color: lightgray;
  border-radius: 3px;
}